.controls-outer {
  width: 100%;
  display: table;
  overflow: hidden;
  height: 37px;
  border-bottom: 1px solid #ddd;
}

.controls-inner {
  background-color: #eee;
  display: table-cell;
  padding: 0 4px;
  line-height: 30px;
  vertical-align: middle;
}
