span.prim {
  display: inline-block;
  margin: 2px;
  padding: 2px;
  border-radius: 4px;
  margin-right: 2px;
  line-height: normal;
  border-style: solid;
  border-width: 1px;

  label {
    color: #777;
  }
}
