@import 'variables';

.dropdown-menu{
  .active {
    a {
      background-color: $bright;
      background-image: initial;
    }
    a:hover, a:focus {
      background-color: $primary;
      background-image: initial;
    }
  }
}

.tree {
  word-wrap: break-word;
  overflow: hidden;
}

ul.inline {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  li {
    margin-right: 4px;
    display: inline-block;
  }
}
