#map{
  max-width: 100%;
}
.witticism {
  padding-right: 10px;
}
.navbar-default {
  background-image: initial;
  background-color: #530000;
  border-color: #a50707;
}
.navbar-default .navbar-brand {
  color: #ffefef;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ff8181;
}
.navbar-default .navbar-text {
  color: #ffefef;
}
.navbar-default .navbar-nav > li > a {
  color: #ffefef;
  text-shadow: initial;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ff8181;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #530000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffefef;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ff8181;
  background-color: #a50707;
  background-image: initial;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #a50707;
  background-image: initial;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ff8181;
  background-color: #a50707;
  background-image: initial;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ff8181;
  background-color: #a50707;
  background-image: initial;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ff8181;
  background-color: #a50707;
  background-image: initial;
}
.navbar-default .navbar-toggle {
  border-color: #a50707;
  background-image: initial;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-image: initial;
  background-color: #a50707;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffefef;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffefef;
}
.navbar-default .navbar-link {
  color: #ffefef;
}
.navbar-default .navbar-link:hover {
  color: #ff8181;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffefef;
    text-shadow: initial;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ff8181;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ff8181;
    background-color: #a50707;
    background-image: initial;
  }
}
